
@{
    ViewBag.Title = "Details";
    Layout = "_LayoutSales.cshtml";
}

<link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
<style>
    .datepicker {
        z-index: 1151 !important;
    }

    .datepicker {
        z-index: 10000;
    }

    .panel-title > a:before {
        font-family: FontAwesome;
        content: "\f056";
        padding-right: 5px;
        float: right;
        text-decoration: none;
        font-size: 15px;
    }

    .panel-title > a.collapsed:before {
        content: "\f055";
    }
</style>

<div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="text-decoration:none">
        <div class=" panel-heading" id="divPanelReserved">
            <h4 class="panel-title">
                Reserved
                <span class="pull-right"><i class="fa fa-plus-circle" style="font-size:18px"></i></span>
            </h4>
        </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" id="SaleReservedForm">
                        <div class="form-group">
                            <label for="txtStatus" class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" value="" readonly="readonly" class="form-control" id="txtSaleReservedPanelStatus" placeholder="status">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtReservationDate" class="col-sm-4 control-label">Reservation Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control datepicker" id="txtReservationDate" name="SaleReservationDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtExpiryDate" class="col-sm-4 control-label">Expiry Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control datepicker" id="txtExpiryDate" name="SaleReservationExpiryDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="selectTimeExtention" class="col-sm-4 control-label">Reservation Time Extention</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkReservationTimeExtention" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <select class="form-control" id="selectTimeExtention" disabled="disabled">
                                    <option selected="selected"></option>
                                    <option value="1">1 Day</option>
                                    <option value="2">2 Days</option>
                                    <option value="3">3 Days</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtExtentionDate" class="col-sm-4 control-label">Extention Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control datepicker" id="txtExtentionDate" name="SaleReservationExtentionDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>

                        <div class=" form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <input type="button" id="btnUpdateReservation" class="btn btn-primary btn-sm" value="Update" />
                            </div>
                        </div>

                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal" id="individualFormReserved">
                        <div class="form-group">
                            <label for="txtFirstName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtFirstNameReserved" name="IndividualName" placeholder="first name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtLastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtLastNameReserved" name="IndividualSurname" placeholder="last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCellNumber" class="col-sm-2 control-label">Cell No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtCellNumberReserved" name="IndividualContactCell" placeholder="cell number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtWorkNumber" class="col-sm-2 control-label">Work No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtWorkNumberReserved" name="IndividualContactWork" placeholder="work number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtEmailReserved" name="IndividualEmail" placeholder="email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectPreferdContactMethod" class="col-sm-2 control-label">Contact Method</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="PreferedContactMethodID" name="PreferedContactMethodID"></select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="button" id="btnReservedUpdatePersonDetails" class="btn btn-primary btn-sm" value="Update" />
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="pendingPanel">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="text-decoration:none">
        <div class="panel-heading" id="divPanelPending">
            <h4 class="panel-title">
                Pending
                <span class="pull-right"><i class="fa fa-plus-circle" style="font-size:18px"></i></span>
            </h4>

        </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" id="SalePendingForm">
                        <div class="form-group">
                            <label for="txtStatus" class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtSalePendingPanelStatus" value="" readonly="readonly" placeholder="status">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkPurchaserContractSignedDatePending" class="col-sm-4 control-label">Purchaser contract signed</label>
                            <div class="col-sm-8">
                                <div id="period-group" class="btn-group">
                                    <label>
                                        <input type="radio" name="SaleDepositPaidBt" checked="checked" id="depositPaidYes" value="1"> Yes
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="SaleDepositPaidBt" id="depositPaidNo" value="0"> No
                                    </label>
                                    <input id="hiddenSaleDepositPaid" name="SaleDepositPaidBt" style="display:none" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkDepositPaid" class="col-sm-4 control-label">Deposit Paid</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkDepositPaid" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datepicker" disabled="disabled" id="txtDepositPaidDate" name="SalesDepoistPaidDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDepositPaid" class="col-sm-4 control-label">Deposit Amount</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtDepositPaid" name="" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkProofOfDeposit" class="col-sm-4 control-label">Purchaser contract signed</label>
                            <div class="col-sm-8">
                                <div id="period-group" class="btn-group">
                                    <label>
                                        <input type="radio" name="SaleDepositPaidBt" checked="checked" id="depositPaidYes" value="1"> Yes
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input type="radio" name="SaleDepositPaidBt" id="depositPaidNo" value="0"> No
                                    </label>
                                    <input id="hiddenSaleDepositPaid" name="SaleDepositPaidBt" style="display:none" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtDepositPaid" class="col-sm-4 control-label">Upload Proof</label>
                            <div class="col-sm-8">
                                @*<span class="btn btn-default btn-file">
                                        Browse <input type="file">
                                    </span>*@
                                <a class='btn btn-primary' href='javascript:;'>
                                    Browse...
                                    <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                                </a>
                                &nbsp;
                                <span class='label label-info' id="upload-file-info"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="button" class="btn btn-primary btn-sm" id="btnUpdateReservedSale">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal" id="individualFormPending">
                        <div class="form-group">
                            <label for="txtFirstName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtFirstNamePending" disabled="disabled" name="IndividualName" placeholder="first name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtLastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtLastNamePending" disabled="disabled" name="IndividualSurname" placeholder="last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCellNumber" class="col-sm-2 control-label">Cell No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtCellNumberPending" disabled="disabled" name="IndividualContactCell" placeholder="cell number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtWorkNumber" class="col-sm-2 control-label">Work No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtWorkNumberPending" disabled="disabled" name="IndividualContactWork" placeholder="work number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtEmailPending" disabled="disabled" name="IndividualEmail" placeholder="email address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectPreferdContactMethod" class="col-sm-2 control-label">Contact Method</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="PreferedContactMethod" disabled="disabled" name="PreferedContactMethodID"></select>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" id="btnPendingUpdatePersonDetails" class="btn btn-primary btn-sm">Update</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="soldPanel">
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="text-decoration:none">
        <div class="panel-heading" id="divPanelSold">
            <h4 class="panel-title">
                Sold
                <span class="pull-right"><i class="fa fa-plus-circle" style="font-size:18px"></i></span>
            </h4>
        </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-horizontal" id="SaleSoldForm">
                        <div class="form-group">
                            <label for="txtStatus" class="col-sm-4 control-label">Status</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtSaleSoldPanelStatus" value="" disabled="disabled">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkSellerContractSigned" class="col-sm-4 control-label">Contract signed by seller</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkPendingSellerContractSigned" name="" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datepicker" disabled="disabled" id="txtSellerContractSignedDate" name="SaleContractSignedSellerDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkPurchaserContractSigned" class="col-sm-4 control-label">Contract signed by purchaser</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkPurchaserContractSigned" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datepicker" disabled="disabled" id="txtPurchaserContractSignedDate" name="SaleContractSignedPurchaserDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkBondRequired" class="col-sm-4 control-label">Bond Required</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkBondRequired" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datepicker" disabled="disabled" id="txtBondRequiredDate" name="SalesBondRequiredDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectFinanceType" class="col-sm-4 control-label">Finance Type</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="selectFinanceType" name="SaleTypeID"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="selectBondRequired" class="col-sm-4 control-label">Originator</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="selectOriginator" name="MortgageOriginatorID"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkGranted" class="col-sm-4 control-label">Granted</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkGranted" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datepicker" disabled="disabled" id="txtGranted" name="SalesBondGrantedDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkClientAccepted" class="col-sm-4 control-label">Client Accepted</label>
                            <div class="col-sm-1">
                                <div class="checkbox">
                                    <label><input type="checkbox" id="checkClientAccepted" value=""></label>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <input type="text" class="form-control datepicker" disabled="disabled" id="txtClientAccepted" name="SalesBondClientAcceptDt" data-date-format="dd/mm/yyyy" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtAmountGranted" class="col-sm-4 control-label">Amount Granted</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtAmountGranted" name="SalesTotalDepositAmount" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="button" id="btnUpdatePendingSale" class="btn btn-primary btn-sm">Update</button>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-horizontal" id="purchaserFormSold">
                        <div class="form-group">
                            <label for="txtFirstName" class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtFirstNameSold" placeholder="first name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtLastName" class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtLastNameSold" placeholder="last name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtCellNumber" class="col-sm-2 control-label">Cell No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtCellNumberSold" placeholder="cell number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtWorkNumber" class="col-sm-2 control-label">Work No</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtWorkNumberSold" placeholder="work number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail" class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtEmailSold" placeholder="email address">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-primary btn-sm">Update</button>
                            </div>
                        </div>

                    </form>

                </div>


            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/app/sales/sales.js"></script>

<script type="text/javascript">
    $(function () {
        var sales = new Sales();
        sales.load();
    });
</script>
