@{
    ViewBag.Title = "Forbidden";
}

<div class="jumbotron" style="background-color:#eee; margin-top:0px; padding-bottom:10px;margin-top:20px">
    <div class="row text-center" style="margin-top:-30px">
        <h5 style="font-size:1.49em;font-weight:bold">You do not have permissions to perform this action</h5>
        <h5 style="font-size:1.39em;font-weight:bold">Please contact the Administrator for access right queries</h5>
    </div>
</div>
