
@{
    ViewBag.Title = "System Error";
    Layout = "~/Views/Shared/_Error.cshtml";
}

<div>
    <div class="row">
        <div class="col-md-12">
            <h2>System Error!</h2>
            <h4>An unexpected error occured, please notify the administrator</h4>
            <hr />
        </div>
    </div>
</div>