body {
    /*font-size: 1.3em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    color: #232323;
    background-color: #c3c3c3;

    font-size: 13px;
    /*font: 16px/24px Georgia, serif;*/
    font-family:Arial;

}

header, footer, nav, section {
    display: block;
}

.width100{
    width: 100%;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 0.4em 0.4em;
    margin: 0 0 1.0em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0px;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom Styles*/

.btn {
    border-radius: 0px;
}

p#buttonsDashBoard .btn-lg, .btn-group-lg > .btn {
    border-radius: 0px;
    padding: 15px 40px;
    font-size: 18px;
    font-family:Calibri;
    margin:5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #3276b1;
}

.customTable{
    font-size: 0.78em; 
    font-weight: 400;
    font-family:"Segoe UI", Verdana, Helvetica, Sans-Serif;
}


.btn-primary {
     background-color: #83250B;
     border:0px;
    /*background-color: #83250B;*/
    /*box-shadow: 0px 1px #33768f;
    -moz-box-shadow: 0px 1px #33768f;
    -webkit-box-shadow: 0px 1px #33768f;*/
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #83250B;
    /*border-color: #83250B;*/
}

.progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
}


.btn-primary :hover {
        color: none;
    }

.container .jumbotron {
margin-left: -15px;
margin-right: -15px;
}

.panel{
    margin-left: -15px; margin-right:-15px; padding:5px;
}

.panel-heading {
    padding: 10px 15px;
}

.badge{
    background-color:#ff703c;
    display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1px;
}


.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 200;
    color: inherit;
    background-color: #eeeeee;
}


.container .jumbotron, .container-fluid .jumbotron {
 border-radius: 0px; 
}

a:hover, a:focus {
    color: #FF703C;
    text-decoration: underline;
    cursor: pointer;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

label{
    font-weight:normal;
    font-size:0.96em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

textarea {
    min-height: 75px;
    width: 100%;
}
.orange {
    color: #FF703C;
}

.dark-orange {
    color:#83250B;
    font-weight: bold;
    
}

.required-field{
    border: 1px solid #f00;
}

.btn-cancel {
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 0.75em;
    text-decoration: underline;
    color: #ff703c;
    opacity: 1;
    background-color: transparent;
    font-weight: 200;
}

input.money-bank{
    text-align: right;
}

.light-grey {
    color: #FF703C;
}

.dark-grey {
    color: #FF703C;
}

.light-brown {
    color: #A63818;
}

.dark-brown {
    color: #83250B;
}

.hide{
    display:none;
}

.show{
    display:block;
}

.back-btn {
  background: #83250B;
  background-image: -webkit-linear-gradient(top, #83250B, #83250B);
  background-image: -moz-linear-gradient(top, #83250B, #83250B);
  background-image: -ms-linear-gradient(top, #83250B, #83250B);
  background-image: -o-linear-gradient(top, #83250B, #83250B);
  background-image: linear-gradient(to bottom, #83250B, #83250B);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.back-btn:hover {
  background: #FF703C;
  background-image: -webkit-linear-gradient(top, #FF703C, #FF703C);
  background-image: -moz-linear-gradient(top, #FF703C, #FF703C);
  background-image: -ms-linear-gradient(top, #FF703C, #FF703C);
  background-image: -o-linear-gradient(top, #FF703C, #FF703C);
  background-image: linear-gradient(to bottom, #FF703C, #FF703C);
  text-decoration: none;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.spinner {
  margin: -27px 140px 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #FF703C;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*Custom Styles*/
label{
    font-weight: 400;
    font-size: 1.02em;
}

fieldset > table > thead{
    font-size: 0.96em;
    font-weight: 400;
}

fieldset > table > tbody{
    font-size: 0.85em;
    font-weight: 400;
}


.table-general{
    font-weight: 400;
    font-size: 0.97em;
}

fieldset > legend.well{
    font-weight: 400;
    font-size: 17.5px;
}

.height28{
    height: 28px;
}

.tooltip.top .tooltip-inner {
    background-color:#83250B;
  }

.tooltip.top .tooltip-arrow {
          border-top-color: #83250B;
       }
.tooltip.bottom .tooltip-inner {
    background-color:#83250B;
  }

.tooltip.bottom .tooltip-arrow {
          border-top-color: #83250B;
       }

/* Reporting*/

.report-background{
    background-color:#ffffff;
}

.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.disabledControls {
    pointer-events: none;
    opacity: 0.6;
}
.thumbnail:hover{
    cursor: pointer;
}

.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(0,0,0,0.7);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.progress{
    box-shadow:none;
    background-color:transparent;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.well {
    width: 100%;
    background-color: transparent;
}

legend {
    font-size: 0.7em;
    line-height: 0px;
    border-bottom: 0px;
    width:0px;
}


fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-progress {
position:relative;
width:400px;
border:1px solid #ddd;
padding:1px;
}
.progress-bar {
width:0px;
height:20px;
background-color:#83250B;
}


/* BONDS SCREEN  */

.legend-heading{
    font-size: 18px
}

.bond-label{
    font-size:14px;
}

