body {
    font-size: 1.3em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #c3c3c3;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 0px;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Custom Styles*/

.btn {
    border-radius: 0px;
}

p#buttonsDashBoard .btn-lg, .btn-group-lg > .btn {
    border-radius: 0px;
    padding: 15px 40px;
    font-size: 18px;
    font-family:Calibri;
    margin:5px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #3276b1;
}



.btn-primary {
     background-color: #83250B;
     border:0px;
    /*background-color: #83250B;*/
    /*box-shadow: 0px 1px #33768f;
    -moz-box-shadow: 0px 1px #33768f;
    -webkit-box-shadow: 0px 1px #33768f;*/
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .active.btn-primary, .open .btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #83250B;
    /*border-color: #83250B;*/
}



.btn-primary :hover {
        color: none;
    }

.container .jumbotron {
margin-left: -15px;
margin-right: -15px;
}

.panel{
    margin-left: -15px; margin-right:-15px; padding:5px;
}

.panel-heading {
    padding: 10px 15px;
}

.badge{
    background-color:#ff703c;
    display: inline-block;
    min-width: 10px;
    padding: 3px 10px;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1px;
}


.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 200;
    color: inherit;
    background-color: #eeeeee;
}


.container .jumbotron, .container-fluid .jumbotron {
 border-radius: 0px; 
}

a:hover, a:focus {
    color: #FF703C;
    text-decoration: underline;
    cursor: pointer;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: normal;
    }

    .form-signin .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

.panel-heading {
    padding: 5px 15px;
}

.panel-footer {
    padding: 1px 15px;
    color: #A0A0A0;
}

panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

label{
    font-weight:normal;
    font-size:0.9em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

textarea {
    min-height: 75px;
    width: 100%;
}
.orange {
    color: #FF703C;
}

.dark-orange {
    color:#83250B;
    font-weight: bold;
    
}

.light-grey {
    color: #FF703C;
}

.dark-grey {
    color: #FF703C;
}

.light-brown {
    color: #A63818;
}

.dark-brown {
    color: #83250B;
}

.hide{
    display:none;
}

.show{
    display:block;
}


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.spinner {
  margin: -27px 140px 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 10px;
  height: 10px;
  background-color: #FF703C;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Reporting*/

.report-background{
    background-color:#ffffff;
}
