<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAampService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1862/AampService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAampService"
                contract="AampService.IAampService" name="BasicHttpBinding_IAampService" />
        </client>
    </system.serviceModel>
</configuration>