
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Report/_ReportLayout.cshtml";
}

<table class="table-bordered">
    <thead>
        <tr>
            <td class="col-md-3">column1</td>
            <td class="col-md-3">column2</td>
            <td class="col-md-3">column3</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="col-md-3">
                data
            </td>
            <td class="col-md-3">
                data
            </td>
            <td class="col-md-3">
                data
            </td>
        </tr>
    </tbody>
</table>




