<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="http://project.aamps.co.za/aamps/Content/bootstrap.css" rel="stylesheet" />
    <link href="http://project.aamps.co.za/aamps/Content/Site.css" rel="stylesheet" />

</head>
<body class="container text-center">
    <div class="col-md-12">
        <div class="row">
            <img src="http://project.aamps.co.za/aamps/Images/[DEVELOPMENTIMAGE]" class="pull-right" style="height:100px; float:right;" height="100" alt="Logo" />
       </div>
        <div style="clear:both">&nbsp;</div>
        <div class="row text-left">
            <p>[AGENTNAME] [AGENTSURNAME]</p>
            <p>Per email: [AGENTEMAILADDRESS]</p>
            <p>Dear [AGENTNAME] [AGENTSURNAME]</p>
            <p><strong>re: RESERVATION: ERF/UNIT [NO] - [DEVELOPMENTNAME] / [ESTATE]</strong></p>
            <p>We hereby confirm that you reserved UNIT/ERF [NO] in [ESTATE] today for [PURCHASERNAME] [PURCHASERSURNAME] at [PRICE].</p>
            <p>You can take the transaction status to PENDING by either:</p>
            <ol>
                <li>Capture the date of signature of the Offer to Purchase by the Purchaser; or</li>
                <li>Capture the proof of payment of the deposit made in hand.</li>
            </ol>
            <p>Should either of the above not be captured by [TIME] on [DATE], the unit will return back to available and be up for sale again.</p>
            <p>We confirm that there is [REFERRALCOMMISSIONAMOUNT] referral commission due on this transaction.</p>
            <p>We trust you find the above in order</p>
            <p>Thanking you in anticipation</p>
            <p>Yours Sincerely</p>
            <p><strong>[DEVELOPERNAME]</strong></p>
        </div>
    </div>
        <script src="http://project.aamps.co.za/aamps/Scripts/jquery-1.10.2.js"></script>
        <script src="http://project.aamps.co.za/aamps/Scripts/bootstrap.js"></script>
</body>
</html>
