<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/Site.css" rel="stylesheet" />

</head>
<body class="container text-center">

    <header class="container text-center">
        <div class="pull-right">
            <img src="[DEVELOPMENTIMAGE]" alt="Logo" />
        </div>
    </header>
    <div class="row text-left">
        <p>[PURCHASERNAME] [PURCHASERSURNAME]</p>
        <p>Per email: [PURCHASEREMAIL]</p>
        <p>Dear [PURCHASERNAME] [PURCHASERSURNAME]</p>
        <p><strong>re: RESERVATION: ERF/UNIT [NO] - [DEVELOPMENTNAME] / [ESTATE]</strong></p>
        <p>We hereby confirm that you reserved UNIT/ERF [NO] today for [PRICE]. We thank you for the interest in the development and rest assured of our best advices at all times.</p>
        <p>The reservation process that allows you the opportunity to meet with your Sales Agent [AGENTNAME] [AGENTSURNAME] to finalise and sign the offer to purchase.</p>
        <p>You will have to either pay the deposit or sign the offer to purchase and provide your agent with the proof thereof within 48 hours to take the sales to <strong>PENDING STATUS</strong>.</p>
        <p>Should you fail to comply with either of the above, and deliver the proof to your agent within 48 hours, your reservation will lapse automatically and UNIT/ERF [NO] will be available to the market.</p>
        <p>Your reservation will lapse at [TIME] on [DATE] and please assure that your agent have the information to avoid disappointment.</p>
        <br />
        <p>We trust you find the above in order</p>
        <br />
        <p>Thanking you in anticipation</p>
        <br />
        <p>Yours Sincerely</p>
        <br /><br />
        <p><strong>[DEVELOPERNAME]</strong></p>
    </div>
    <script src="../../Scripts/jquery-1.10.2.js"></script>
    <script src="../../Scripts/bootstrap.js"></script>
</body>
</html>
